@import '../../../../../style/var.scss';

.tag {
  display: inline;
  max-width: 300px;
}

.delete,
.add {
  margin-left: 18px;
}

.delete {
  color: $highlight-color;
  border-color: $highlight-color;
}

.add {
  color: $info-color;
  border-color: $info-color;
}
